@import 'variables';
@import 'mixins';

/* HEADER */
.header {
  .header-nav {
    background: $w;
    border-bottom: 1px solid $grey;
    .navi-menu {
      li {
        a {
          padding-top: 16px;
          padding-bottom: 16px;
          color: #444;
          &:hover {
            color: $blue;
          }
        }
      }
    }
  }
}